
{% extends 'base.html' %}
{% block title %}{% endblock  %}
{% block main %}
    <div class="container text-center my-2 py-2 ">
    <h1>ABOUT VILASRAO DESHMUKH FOUNDATION</h1>


    <h6 class="my-5"> We are a group of skilled individuals.</h6>
     </div>
{% load static %}

  </div>
   <div class="container text-center my-2">
        <div class="row text-center">

             <div class="col-md-4">
               <img src="{% static 'images/about/no.png' %}"  style="max-height: 200px;">
               <h2 style="">MR.KAUSHAL PAURANA </h2>
               <h6 style="">CEO / VILASRAO DESHMUKH FOUNDATION,GROUP OF INSTITUTIONS, LATUR </h6>


             </div>

             <div class="col-md-4">
               <img src="{% static 'images/about/bukesir.jpeg' %}" style="max-height: 160px;"/>
               <h2 style="">DR. M. V. BUKE </h2>
               <h6 style="">PRINCIPAL, VILASRAO DESHMUKH FOUNDATION,GROUP OF INSTITUTIONS, LATUR </h6>




             </div>





        </div>

      </div>


          <div class="container my-5 ">
             <h3 class="h3 my-2"> About Vilasrao Deshmukh Foundation </h3>
             <p>VDF aims at providing, through its School of Engineering & Technology, and School of Pharmacy, world-class professional education programmes in the two disciplines with additional focus on business and cross cultural communication and related soft skills. Students shall be appropriately trained for placement in select companies with the help of the Placement Cell and the Institutes’ industry interaction programmes. VDF also intends to set up a medical college and teaching hospital as well as run accelerated short-term learning programmes to meet on-demand industry requirements in sectors such as retail, outsourcing, travel, tourism, hospitality, etc. </p>

           </div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
{% endblock  %}
