{% extends 'base.html' %}

{% block titile %}PRINCIPAL’S MESSAGE{% endblock  %}

{% block main %}


{% load static %}
    <div class="container text-center">
        <h1><b>PRINCIPAL’S MESSAGE</b></h1>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-1 ">

            </div>
            <div class="col-md-4  text-center">
                <img src="{% static 'images/about/bukesir.jpeg' %}" style="height: 200px ;" " />
                <h3 style="color:rgb(184, 52, 4) "><b>Dr. M. V. BUKE</b></h3>
                <h6 style="color: rgb(57, 175, 57); ">
                  <b>  PRINCIPAL, VILASRAO DESHMUKH FOUNDATION,GROUP OF INSTITUTIONS, LATUR</b>
                </h6>
            </div>
            <div class="col-md-7 text-center ">
                <iframe width="450 " height="285 " src="https://www.youtube.com/embed/hJV6O_wGIec " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container my-4 col-md-2 ">

    </div>
    <div class="container my-4 col-md-9 ">

        <p>
            <h6>विलासराव देशमुख फाऊंडेशन ग्रुप ऑफ इन्स्टिट्युटच्या वतीने आपणांस व संस्थेतील कर्मचाऱ्यांना नवीन वर्षाच्या हार्दीक शुभेच्छा!</h6>
        </p>
        <p>
            <h6>आगामी शैक्षणिक वर्षात आम्ही आपल्याकडे वेगळा लातूर पॅटर्न घेऊन येत आहोत. तो निश्चितच आपणांस आवडेल असा विाास आहे. आमच्या महाविद्यालयाची सुरवात २०१०-११ मध्ये झाली असून आत्तापर्यंत पाच बॅचेस बाहेर पडलेल्या आहेत. आपणांस सांगावयास आनंद वाटतो, महाविद्यालयाचा
                निकाल खूपच चांगला असून विद्यार्थ्यांनी स्वामी रामानंद तीर्थ मराठवाडा विद्यापीठामध्ये प्रथम, द्वितीय आणि तृतीय क्रमांक मिळवलेले आहेत. आत्तापर्यंतचे उत्तीर्ण झालेले जवळपास सर्व विद्यार्थी वेगवेगळ्या क्षेत्रात नौकरी आणि उद्योगात कार्यरत आहेत,
                याचा आम्हास रास्त अभिमान आहे.

            </h6>
        </p>
        <p>
            <h6>संस्था २०१९-२० या वर्षापासून डॉ.बाबासाहेब आंबेडकर तांत्रिक विद्यापीठ, लोणेरे यांच्याशी संलग्नित झाली आहे. सर्वात महत्त्वाचे म्हणजे, महाराष्ट्रातील बहुंताश महाविद्यालये या विद्यापीठास संलग्नित झालेले आहेत. सदरील विद्यापीठाशी संलग्नता मिळविण्यासोबत
                आम्ही या वर्षापासून विद्यार्थ्यांचे सर्वांगीण हित लक्षात घेऊन नवीन उपक्रम हाती घेतला आहे. या उपक्रमानुसार संस्थेत प्रवेश घेणाऱ्या विद्यार्थ्यांचे आम्ही पालकत्व स्वीकारत आहोत. यामध्ये महाविद्यालयातील उपस्थिती ८० टक्के पूर्ण करणाऱ्या विद्यार्थ्यांना
                नियमित शिक्षणाबरोबर उद्योग, व्यवसाय आणि रोजगार यासंदर्भाने सतत मार्गदर्शन दिले जाणार आहे. विद्यार्थ्यांच्या अंगी असलेल्याकौशल्यानुसार त्यांना नौकरी, उच्च शिक्षण आणि उद्योगांबाबत परिपुर्ण शिक्षण, प्रशिक्षण देऊन त्यांची तयारी करुन घेतली
                जाणार आहे. वेळोवेळी देश आणि जागतिक स्तरावर मान्यवर कंपनी आणि उद्योग व्यवसायामध्ये कॅम्पस प्लेसमेंटद्वारे हमखास नौकरीच्या संधी उपलब्ध करुन दिल्या जाणार आहेत.

            </h6>
        </p>
        <p>
            <h6>एकंदरीतच लातूरचे औद्योगीकदृष्ट्या मागासलेपण दूर करण्याचा निश्चय विलासराव देशमुख फाऊंडेशनने केलेला आहे. लातूरमध्ये उद्योग, व्यवसाय उभारतील आणि या महाविद्यालयातील विद्यार्थ्यांनाही रोजगार मिळेल असे धोरण आखुन त्यावर अंमलबजावणी करण्याचे नियोजन
                व्यवस्थापनाने आखले आहे. या धोरणाला अनुसरुन आपणांस निवेदन करण्यात येत आहे की, आपल्या महाविद्यालयातील विद्यार्थी-विद्यार्थीनींना अभियांत्रिकी, तंत्रशिक्षण पदविका आणि औषधनिर्माण शास्त्र संबंधिचे शिक्षण विलासराव देशमुख फाऊंडेशन मध्ये घेण्यासाठी
                प्रोत्साहीत करावे, याठिकाणी आपल्या पाल्यांना पाठविल्यास त्यांचे भविष्य सुरक्षित होईल याची कल्पना त्यांच्या पालकांनाही द्यावी, अशी नम्र विनंती आहे.

            </h6>
        </p>
        <p>
            <h6>धन्यवाद !

            </h6>
        </p>
    </div>
    <div class="container my-4 col-md-1 ">

    </div>



    {% endblock  %}
