{% extends "base.html" %} {% block title %} ELECTRICAL ENGINEERING DEPARTMENT {% endblock %}
{%block main %}

<div
  class="container text-center my-5"
  style="background-color: blueviolet; color: #830a0a; font-size: 15px"
>
  <ul class="list-group list-group-flush">
    <b>
      <i>
        <a href="/pages/electrical_ad" style="text-decoration: none"
          ><li class="list-group-item lin">
           ABOUT ELECTRICAL ENGINEERING DEPARTMENT
          </li></a
        >
        <a href="/pages/electrical_achi" style="text-decoration: none"
          ><li class="list-group-item lin">
            ACHIEVEMENTS-ELECTRICAL ENGINEERING DEPARTMENT
          </li></a
        >

        <a href="/pages/electrical_lab" style="text-decoration: none"
          ><li class="list-group-item lin">
            LABORATORY-ELECTRICAL ENGINEERING DEPARTMENT
          </li></a
        >
        <a href="/facel" style="text-decoration: none"
          ><li class="list-group-item lin">
            FACULTIES-ELECTRICAL ENGINEERING DEPARTMENT
          </li></a
        >
      </i>
    </b>
  </ul>
</div>

{% endblock %}
