{% extends "base.html" %} {% block title %} APPLIED SCIENCE {% endblock %}
{%block main %}

<div
  class="container text-center my-5"
  style="background-color: blueviolet; color: #830a0a; font-size: 15px"
>
  <ul class="list-group list-group-flush">
    <b>
      <i>
        <a href="/pages/mechanical_ad" style="text-decoration: none"
          ><li class="list-group-item lin">
            ABOUT MECHANICAL ENGINEERING DEPARTMENT DEPARTMENT
          </li></a
        >
        <a href="/pages/mechanical_achi" style="text-decoration: none"
          ><li class="list-group-item lin">
       ACHIEVEMENTS OF MECHANICAL DEPARTMENT
          </li></a
        >

        <a href="/pages/mechanical_lab" style="text-decoration: none"
          ><li class="list-group-item lin">
           
MECHANICAL ENGINEERING DEPARTMENTAL LABORATORY DETAILS
          </li></a
        >
        <a href="/facme" style="text-decoration: none"
          ><li class="list-group-item lin">
           FACULTIES-MECHANICAL ENGINEERING
          </li></a
        >
      </i>
    </b>
  </ul>
</div>

{% endblock %}
