{% extends "base.html" %} {% block title %} APPLIED SCIENCE {% endblock %}
{%block main %}

<div
  class="container text-center my-5"
  style="background-color: blueviolet; color: #830a0a; font-size: 15px"
>
  <ul class="list-group list-group-flush">
    <b>
      <i>
        <a href="/pages/civil_ad" style="text-decoration: none"
          ><li class="list-group-item lin">CIVIL ENGINEERING DEPARTMENT</li></a
        >
        <a href="/pages/about_achievement" style="text-decoration: none"
          ><li class="list-group-item lin">
            ACHIEVEMENTS-CIVIL ENGINEERING
          </li></a
        >

        <a href="/pages/civil_lab" style="text-decoration: none"
          ><li class="list-group-item lin">LABORATORY-CIVIL ENGINEERING</li></a
        >
        <a href="/facce" style="text-decoration: none"
          ><li class="list-group-item lin">FACULTIES-CIVIL ENGINEERING</li></a
        >
      </i>
    </b>
  </ul>
</div>

{% endblock %}
