{% extends "base.html" %} {% block title %} APPLIED SCIENCE {% endblock %} {% block main %}

<div class="container text-center my-5" style="background-color: blueviolet; color: #830a0a; font-size: 15px">
    <ul class="list-group list-group-flush">
        <b>
      <i>
        <a href="/pages/about_as" style="text-decoration: none"
          ><li class="list-group-item lin">
            ABOUT APPLIED SCIENCE & HUMANITIES DEPARTMENT
          </li></a
        >
        <a href="/pages/lab_as" style="text-decoration: none"
          ><li class="list-group-item lin">LABORATORY-APPLIED SCIENCE</li></a
        >
        <a href="/facas" style="text-decoration: none"
          ><li class="list-group-item lin">FACULTIES-APPLIED SCIENCE</li></a
        >
      </i>
    </b>
    </ul>
</div>

{% endblock %}