{% extends 'base.html' %} {% block titile %}{% endblock %} {% block main %}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 primary-bg text-white" style="height: 1000px;">

            <ul type="none">
                <li class="h5">
                    About Department
                </li>

                <li class="h5">
                    About Department
                </li>

                <li class=" h5 ">

                    Laboratory-Applied Science
                </li>


                <li class=" h5 ">

                    Faculties
                </li>
            </ul>

        </div>





    </div>
</div>



{% endblock %}