{% extends 'base.html' %}
{% block title %}PLACEMENT 2021{% endblock  %}

{% block main %}

<div class="container my-2 text-center">
    <h1>PLACEMENT 2021</h1>
</div>

<div class="cintainer text-center my-2">
    {% load static %}

    <img class="img-fluid" src="{% static 'pages/p1.jpeg '%}">
</div>

<div class="cintainer text-center my-2">
    {% load static %}

    <img class="img-fluid" src="{% static 'pages/p2.png '%}">
</div>

<div class="cintainer text-center my-2">
    {% load static %}

    <img class="img-fluid" src="{% static 'pages/p3.jpeg '%}">
</div>

<div class="cintainer text-center my-2">
    {% load static %}

    <img class="img-fluid" src="{% static 'pages/p4.jpeg '%}">
</div>

{% endblock  %}