{% extends 'base.html' %}

{% load static %}

{% block main %}

<h3 class="text-center">Institute Level Admission</h3>




<div class="container text-center my-5" style="background-color: rgb(226, 168, 43); color: #830a0a; font-size: 30px;">
    <ul class="list-group list-group-flush">
        <b>
           
              
          
            <i>

            <a href="/ilfy" style="text-decoration: none;"><li class="list-group-item lin">B.Tech. First Year</li></a>

      
        </i>   

        <i>

            <a href="/ildse" style="text-decoration: none;"><li class="list-group-item lin">B.Tech. Direct Second Year</li></a>

      
        </i>   

                </b>
    </ul>


</div>



{% endblock %}
