{% extends 'base.html' %}

{% load static %}

{% block main %}

<h3 class="text-center">Institute Level Admission B.Tech. First Year</h3>





<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static "ilad.png" %}" style="width: 100%;">
        </div>
        <div class="col-md-8">
            <img src="{% static "inlad1.PNG" %}" style="width: 100%;">
            <img src="{% static "ilad2.PNG" %}" style="width: 100%;">
        </div>
    </div>
</div>



{% endblock %}
