{% extends "base.html" %} {% block title %}{{link.title}} {% endblock %} {% block main %}

<div class="container-fluid m-0 p-0">

    <img style="max-height: 200px;" src="{{link.logo.url}}" class="img-fluid w-100 " alt="Responsive image">

    <style>
        @media only screen and (max-width: 991px) {
            .img-fluid {
                height: 100px;
            }
        }
    </style>

</div>

<div class="container">
    <h1 class="text-center">{{link.title}}</h1>
    <p>{{link.body|safe}}</p>
</div>


{% endblock %}