{% extends 'base.html' %}
{% block title %}PLACEMENT 2021{% endblock  %}
{% block main %}

<div class="container my-2 text-center">
    <h1>PLACEMENT 2022</h1>
</div>


<div class="container text-center my-2">
    {% load static %}
    <div class="row">

        <div class="col-md-5">
        <img class="img-fluid" src="{% static 'pages/p11.jpg'%}">
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="{% static 'pages/p22.jpg'%}">
        </div>
    </div>


    <div class="row my-1">

        <div class="col-md-5">
        <img class="img-fluid" src="{% static 'pages/p33.jpg'%}">
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="{% static 'pages/p44.jpg'%}">
        </div>
    </div>


    <div class="row my-1">

        <div class="col-md-5">
        <img class="img-fluid" src="{% static 'pages/p55.jpg'%}">
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
         
        </div>
    </div>
  
</div>

  
{% endblock %} 