{% extends 'base.html' %} {% block title %}TRAINING & PLACEMENT CELL{% endblock %} {% block main %}
<div class="container text-center">
    <h1>TRAINING & PLACEMENT CELL</h1>

</div>
<div class="container my-2  text-center">
<h3>
Mr.Biradar A.R.
</h3>
<h4>
Head,
Training and Placement Cell
</h4>

<h4>

Contact: +91 82375 67555

</h4>

<h4>
Email: tpo.engineering@vdf.in
</h4>
</div>



<div class="cintainer text-center my-3">
    {% load static %}

    <img class="img-fluid" src="{% static 'pages/tp.jpeg'%}">
</div>
{% endblock %}
