{% extends "base.html" %} {% block title %} Workshop {% endblock %} {% block main %}
<div class="container my-3 text-center">
    <h1 class="h1">Workshop</h1>
</div>

{% load static %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail border-0" src="{% static 'pages/w1.jpg' %}">
        </div>


        <div class="col-md-4">
            <img class="img-thumbnail border-0" src="{% static 'pages/w2.jpg' %}">
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail border-0" src="{% static 'pages/w3.jpg' %}">
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail border-0" src="{% static 'pages/w4.jpg' %}">
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail border-0" src="{% static 'pages/w5.jpg' %}">
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail border-0" src="{% static 'pages/w6.jpg' %}">
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail border-0" src="{% static 'pages/w7.jpg' %}">
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail border-0" src="{% static 'pages/w8.jpg' %}">
        </div>

    </div>
</div>
{% endblock %}